/* ../fonts */
@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/inter-regular-webfont.woff2") 
        format("woff2"),
        url("../fonts/inter-regular-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/inter-italic-webfont.woff2") 
        format("woff2"),
        url("../fonts/inter-italic-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/inter-bold-webfont.woff2") 
        format("woff2"),
        url("../fonts/inter-bold-webfont.woff") 
        format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/inter-extrabold-webfont.woff2") 
        format("woff2"),
        url("../fonts/inter-extrabold-webfont.woff") 
        format("woff");
    font-weight: 800;
    font-style: normal;
}

/* Resets */
button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    font-size: 1rem;
    line-height: 1;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}
/* Body */
body {
    min-height: 100vh;
    margin:0;
    font-family: 'Inter', 'Noto Sans', sans-serif;
    font-size: calc(12px + 0.5rem);
    font-weight: normal;
    color: #F9FAF8;
    background-color: #080512;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    display:block;
}

.header-logo {
    font-size: calc(25px + 1.2rem);
    color: #F9FAF8;
    text-align: center;
    font-family:'Inter','Noto Sans', sans-serif;
    font-weight: 800;
    text-wrap: nowrap;
}

.header-info {
    text-wrap: nowrap;
}

p .underline {
    font-weight: bold;
    color: #F9FAF8;
}

/* Left styling */

.left {
    display: none;
    background: url("../resources/signup-bg.jpg") #080512 center;
    background-size: cover;
}

.left .header-logo {
    background: rgba(0,0,0,0.8);
    padding-top: 15px;
    width: 100%;
}

/* Right styling */
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px 50px 50px;
    background: linear-gradient(180deg, rgba(84,67,128,1) 0%,
        rgba(54,41,87,1) 30%, rgba(22,15,42,1) 65%, rgba(8,5,18,1) 100%); 
}

.header-signup {
    line-height: 2rem;
}

/* Form input formatting */
.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5px;
}

.form-row input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

input:focus {
    border: 1px solid #399ED9;
    box-shadow: 10px 5px 10px #17161B;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

/* Button formatting */
.create-account {    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding:10px;

    cursor: pointer;

    font-weight: bold;
    color: #F9FAF8;

    transition: transform .1s;
}

.create-account:hover {
    transform: scale(1.05)
}

.sign-button:hover {
    transform: scale(1.10);
}

.sign-button {
    white-space:nowrap;
    padding: 7px 26px 7px 26px;
}


a.sign-button {
    color: #F9FAF8;
    font-size:21px;
    text-decoration:none;
}

a:hover.sign-button {
    color: #F9FAF8;
}

/* Desktop */
@media only screen and (min-width: 1100px) {
    .page-wrapper {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        width:40vw;
        height:100vh;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width:60vw;
        height:100vh;
    }

    .right .header-logo {
        display: none;
    }

    .title {
        display: none;
    }

    .form-container {
        display: flex;
        font-size: calc(14px + 0.1rem);
        width:80%;
        height:40%;
        padding-top: 25px; 
        justify-content: center;
        align-items: center;
    }

    .form-container form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .form-row {
        width: 50%;
    }
    
    .form-row input {
        text-align: left;
        justify-self: center;
        align-self: center;
        width: 75%;
    }
}
