/* Fonts */
@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-regular-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-regular-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-italic-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-italic-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-bold-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-bold-webfont.woff") 
        format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-extrabold-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-extrabold-webfont.woff") 
        format("woff");
    font-weight: 800;
    font-style: normal;
}

body {
    min-height: 100vh;
    margin:0;
    font-family: 'Inter',
        sans-serif;
    font-weight: normal;
    background-color: #080512;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

/* Resets */
button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    font-size: 1rem;
    line-height: 1;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

/* Header */
.top-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(180deg, #7663A3, #544380);
    position: absolute;
    width: 100%;
    height: 40px;
}

.top-header {
    &.is-fixed {
        position: fixed;
        transform: translate3d(0, -100%, 0);
    }
    &.can-animate {
        transition: transform 0.3s ease, visiblity 0s 0.3s linear;
    }
    &.scroll-up {
        transform: translate3d(0, 0, 0);
    }
}

.header-logo,.header-logo:hover {
    font-size: 30px;
    color: #F9FAF8;
    text-decoration: none;
    font-family:'Inter','Noto Sans', sans-serif;
    font-weight: 800;
}

/* Burger menu */

.burger-icon {
    width: 44px;
    height: 44px;
    display: block;
    cursor: pointer;
    border: none;
    padding: 0px;
    margin: 0 20px 0 20px;
    background: linear-gradient(
        to bottom,
         #FFFFFF, #FFFFFF 20%,
         transparent 20%, transparent 40%,
         #FFFFFF 40%, #FFFFFF 60%,
         transparent 60%, transparent 80%,
         #FFFFFF 80%, #FFFFFF 100%
        );
}

#burger-input {
    display: none;
}

.burger-dropdown:checked ~ .header-links {
    visibility: visible;
    opacity: 1;
}

.burger-dropdown:checked + #burger-menu > .burger-icon {
    background: linear-gradient(
        to left,
         #FFFFFF, #FFFFFF 20%,
         transparent 20%, transparent 40%,
         #FFFFFF 40%, #FFFFFF 60%,
         transparent 60%, transparent 80%,
         #FFFFFF 80%, #FFFFFF 100%
        );
}

/* Burger links */

.header-links {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size:25px;
    top: 79px;
    left: 0;
    padding: 10px 0 10px 0;
    margin: 0;
    width: 100%;
    list-style: none;
    background-color: rgba(22,15,42, 0.90);
    color: #E5E7EB;
    visibility: hidden;
    transition: visiblity 0s, opacity 0.08s linear;
    opacity: 0;
}

.header-link{
    text-decoration: none;
    color: #E5E7EB;
}
.header-link:hover {
    text-decoration: underline;
    color: #E5E7EB;
}

.header-links li {
    /* Make more easily clickable */
    padding: 20px 0 20px 0;
}

.header-links a {
    display: inline-block;
    width: 100%;
}

nav label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
}

/* Page content */
.content {
    display:flex;
    flex-direction:column;
    flex:auto;
    margin-top: 4.8rem;
}

/* Gradient background */
.BG-hero-head2 {
    background: rgb(84,67,128);
    background: linear-gradient(180deg, rgba(84,67,128,1) 0%, rgba(54,41,87,1) 30%, rgba(22,15,42,1) 65%, rgba(8,5,18,1) 100%); 
}

.hero {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 100px;
    gap:100px;
}

.h1-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    min-width: 250px;
    max-width: 450px;
    gap:12px;
}

.h1-left-title {
    font-size:calc(32px + 0.6rem);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color:#F9FAF8;
    text-wrap:wrap;
}

.h1-left-subtext {
    font-size:18px;
    text-wrap:wrap;
    color: #E5E7EB;
}

.sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
    transition: transform .1s;
}

.sign-button:hover {
    transform: scale(1.10);
}

.sign-button {
    white-space:nowrap;
    padding: 7px 26px 7px 26px;
}


a.sign-button {
    color: white;
    font-size:21px;
    text-decoration:none;
}

a:hover.sign-button {
    color: white;
}

.h1-right {
    width:500px;
    display:none;
}

/* Section 2 */

.header-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:35px;
    gap:25px;
    padding: 200px 0 200px 0;
}


.h2-title {
    font-size: calc(36px + 0.1rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

.h2-boxes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
}

.h2-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width:16rem;
    height:20rem;
    gap: 10px;
    overflow: break-word;
}

img.box-img {
    width:200px;
    height:200px;
    border-radius: 15px;
    transition: transform .2s;
}

.box-img:hover {
    transform:scale(1.05);
}

.img-subtext {
    font-weight:lighter;
    font-size: calc(20px + 0.1vw);
    line-height: calc(1.1em + 0.5vw);
    color: #FFFFFF;
    text-wrap: wrap;
}

/* Section 3: Quote */

.header-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 200px 50px 200px 50px;
}

.quote-wrapper {
    max-width: 830px;
}

.quote {
    font-size:45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:lighter;
    font-style:italic;
    text-wrap: wrap;
    line-height: 3rem;
}

.quote-author {
    font-size:20px;
    text-align:end;
    font-weight:bold;
}

/* Section 4: big button */
.header-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 100px 50px 100px 50px;
}

.big-sign {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background: rgb(84,67,128);
    background: radial-gradient(circle,rgba(84,67,128,1) 0%, rgba(49,38,80,1) 75%, rgba(22,15,42,0.6710083691679797) 90%, rgba(8,5,18,0.458123215106355) 100%);
    gap: 5%;
    padding: 5% 5vh 5% 5vh;
    border-radius: 20px;
}

.h4-left {
    width: min(55vw, 75%);
    text-wrap: wrap;
}

.big-sign-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: calc(24px + 0.3vw);
    font-weight: bold;
    line-height: 2.5rem;
}

.big-sign-subtext {
    color: white;
    line-height: 1.5rem;
    font-size: calc(14px + 0.3vw);
}

.h4-sign-button .sign-button {
    margin: 25px 10px 0px 10px;
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    background-image: #0A0615;
    bottom: 0;
    width: 100%;
    padding:20px;
    min-height: 50px;
}

/* Desktop */
@media only screen and (min-width: 1100px) {
    .h1-left {
        text-align:left;
        align-items: flex-start;
    }
    .h2-boxes {
        flex-wrap: nowrap;
    }
    .h1-right {
        display: block;
    }
    .big-sign {
        flex-direction: row;
        padding: 5% 25vh 5% 25vh;
        gap: 10px;
    }
    nav input[type='checkbox'], nav label {
        display: none;
    }
}
